<div data-options="dxView : { name: 'BuyExp', title: 'Utilizza i punti' } ">
    <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div class="content" data-bind="dxScrollView: { }">
            <div class="dx-fieldset button">
                <div class="dx-field">
                    <div class="dx-field-label">Saldo corrente</div>
                    <div class="dx-field-value">
                        <div data-bind="dxTextBox: {value: saldo}"></div>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset button">
                <div class="dx-field">
                    <div>Giro in bicicletta sui Colli Euganei <br />*** 10 p</div>
                    
                    <div class="dx-field-value">
                        <div data-bind="dxButton: {text: 'Acquista', clickAction: function(){subFondi(10);}}"></div>
                    </div>
                    <br />
                    <br />
                    
                </div>
                <div class="dx-field">
                    <div>Corso di bici cross <br />**** 20 p</div>
                    
                    <div class="dx-field-value">
                        <div data-bind="dxButton: {text: 'Acquista', clickAction: function(){subFondi(20);}}"></div>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="dx-field">
                    <div>Pomeriggio in mountain bike <br />***** 30 p</div>
                    
                    <div class="dx-field-value">
                        <div data-bind="dxButton: {text: 'Acquista', clickAction: function(){subFondi(30);}}"></div>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="dx-field">
                    <div>Giornata con bici da corsa <br />**** 40 p</div>
                    
                    <div class="dx-field-value">
                        <div data-bind="dxButton: {text: 'Acquista', clickAction: function(){subFondi(40);}}"></div>
                    </div>
                    <br />
                    <br />                    
                </div>
            </div>
        </div>
    </div>
</div>
