<div data-options="dxView : { name: 'comment', title: 'Comment' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
      <div class="row" style="width:100%;">
	<img src="user1.jpg" style="width: 80px; float: left;border-radius: 50%;margin-right:10px;"> <b>Scuesa</b> (<i>Ambassador</i>)<br>
	<img src="stars.png" style="width: 120px;"> <br>
	"Esistono luoghi migliori di questo? Impossibile."
	</div><br>
      <div class="row" style="width:100%;">
	<img src="user2.jpg" style="width: 80px; float: left;border-radius: 50%;margin-right:10px;"> <b>lisa d</b><br>
	<img src="stars.png" style="width: 120px;"> <br>
	"Simpatia del personale, rapidità e qualità del cibo. Cosa chiedere di più da un take away a Venezia. Il menù è ampio e le paste proposte (fatte da loro) sono adatte a tutti i gusti. Se non si vuole perdere tempo seduti ad un ristorante e vivere a pieno la città anche durante il pranzo dovete assolutamente passarci."
	</div><br>
      <div class="row" style="width:100%;">
	<img src="user3.jpg" style="width: 80px; float: left;border-radius: 50%;margin-right:10px;"> <b>Traveldegustibus</b><br>
	<img src="stars.png" style="width: 120px;"> <br>
"Sono di napoli ed avevo paura di non riuscire a mangiare una buona pasta a venezia ed invece sono rimasto molto contento di questo posto lo trovo geniale, ciao"
      </div><br>
      <div class="row" style="width:100%;">
	<img src="user4.jpg" style="width: 80px; float: left;border-radius: 50%;margin-right:10px;"> <b>Filippo R</b><br>
	<img src="stars.png" style="width: 120px;"> <br>
Locale stra figo e alla mano, personale simpaticissimo, e che dire.. Pasta buonissima, non smetteresti mai di mangiarla! E per gli stranieri non vi preoccupate, conoscono ogni lingua! Fermatevi, ne vale davvero la pena Prezzi giusti
	</div>
    </div>
</div> 
 
