<div data-options="dxView : { name: 'CustomEvents', title: 'Cerca' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="custom-events">
        <script type="text/html" id="cell-template">
            <div class="event">
                <div class="table-cell">
                    <div data-bind="dxCheckBox: { checked: enabled }"></div>
                </div>
                <div class="table-cell">
                    <span data-bind="text: displayName"></span>
                    <span class="counter-badge" data-bind="text: count, visible: badgeVisible"></span>
                </div>
            </div>
        </script>
        <link href="./css/bs.css" rel="stylesheet">
        <div class='container'>
            <div class="row-fluid">
	      <div id='cont'></div>
            <div data-bind="dxLoadPanel: { message: 'Loading...', visible: loadPanelVisible }"></div>

	      <div style='background-color: #CCC; padding: 10px 100px; width:100%;'>
		<span id='Nome'></span>
		<span id='Indirizzo' style='font-size:0.8em;'></span>
	      </div>
	      <div style='margin-top: 25px; overflow:hidden;'>
		<img id="img_cross" data-alt-src="cross_selected.png" src="./icons/cross.png" class='col-xs-2 col-xs-offset-3' ></img>
		<img id="img_info" data-alt-src="info.png" src="./info.png" class='col-xs-2' onclick=''></img>
		<img id="img_like" data-alt-src="like_selected.png" src="./icons/heart.png" class='col-xs-2' ></img>
	      </div>
	      <!--<div data-bind="dxButton: { text: 'I miei posti', clickAction: KitchenSink.app.navigate('Preferiti') }"></div>-->
	    
	    </div>
	</div>
    </div>
</div>