<div data-options="dxView : { name: 'CustomEvents', title: 'CustomEvents' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="custom-events">
        <script type="text/html" id="cell-template">
            <div class="event">
                <div class="table-cell">
                    <div data-bind="dxCheckBox: { checked: enabled }"></div>
                </div>
                <div class="table-cell">
                    <span data-bind="text: displayName"></span>
                    <span class="counter-badge" data-bind="text: count, visible: badgeVisible"></span>
                </div>
            </div>
        </script>
        <div data-bind="dxScrollView: { }">
            <div class="row">
                <div class="cell">
                    <div class="group-name">Pointer Events</div>
                    <div data-bind="template: { name: 'cell-template', foreach: pointerEvents }"></div>
                </div>
                <div class="cell">
                    <div class="group-name">Swipe Events</div>
                    <div data-bind="template: { name: 'cell-template', foreach: swipeEvents }"></div>
                </div>
            </div> 
            
            <div id="hotel1" class="events-area" style="position: absolute; background-image: url('hotel1.jpg'); width:600px; height: 400px; background-size:100%;"></div>
	    <script type="text/javascript">
	      $(document).ready(function() {
		
	      });
	    </script>
	    
        </div>
    </div>
</div>