<div data-options="dxView : { name: 'details', title: 'F*** THIS' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " style='text-align: center;' >
    
    <div class="swiper-container">
      <div class="swiper-wrapper">
     
      </div>
    </div>
    
    <p id='Nome' style='margin: 15px; font-size:2em;'></p>
    <p id='Indirizzo' style='margin: 15px; color: #666;'></p>
    
    <p id='Pricing' style='margin: 15px; font-size: 3em;'>55 - 130 €</p>
    
    <p style='margin:15px; color: #666;'>6 / 8 stanze libere<br>nel periodo di interesse</p>
    
    <div style='width:100%'>
       <div style='margin: 0 auto; text-align:center;'>
       <button class='book' href='' onclick='KitchenSink.app.navigate("comment");' style='background-color: #DDD; width:75%;'><img src="edit26.png" height='50px' width='auto'  />Commenti</button>
       </div>
       </div>
    
    <div style='width:100%'>
       <div style='margin: 0 auto; text-align:center;'>
       <button class='book' id='dtlbtn' href='' onclick='' style='width:75%;' ><img src="edit26.png" height='50px' width='auto'  />Prenota</button>
       </div>
       </div>

    
    
        
    </div>
</div> 
