<div data-options="dxView : { name: 'EndBooking', title: 'NO WAY IT WORKS' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
      <div id='total' class='total'>150 €</div>
      
      <div class='booking-people'>
                <div class="round-wrapper2" id="round-oneperson"><div class="round"></div></div>
                <div class="round-wrapper2" id="round-twopersons"><div class="round"></div></div>
                <div class="round-wrapper2 round-wrapper-last" id="round-threepersons"><div class="round"></div></div>
      </div>
      
      
     <p class='commodities'>Scegli servizi aggiuntivi</p>
      
     <div id="commodities-icons">
                <div class="round-wrapper" id="round-shower"><div class="round"></div></div>
                <div class="round-wrapper" id="round-bathtub"><div class="round"></div></div>
                <div class="round-wrapper" id="round-wifi"><div class="round"></div></div>
                <div class="round-wrapper round-wrapper-last" id="round-else"><div class="round"></div></div>
     </div>
      
      <a class='book' href=''>Prenota</a>
      
    </div>
</div> 
 
