<div data-options="dxView : { name: 'Exp', title: 'Esperienze' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="exp-splash" >
            <div id="exp-sopra">
                <p id="exp-saldo"></p>
            </div>
            
            <div id="exp-sotto1">
                <div><div></div></div>
                <div><div></div></div>
                <div onclick="KitchenSink.app.navigate('BuyExp');"><div></div></div>
                <div><div></div></div>
            </div>
            <div id="exp-sotto2">
                <div><div></div></div>
                <div><div></div></div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
        </div>
    </div>
</div>
