<div data-options="dxView : { name: 'Home', title: 'Wish & go' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="home-splash" >
            <div id="home-sopra">
                <img src="content/images/home-bck.png" />
            </div>
            <div id="home-sotto">
                <div class="round-wrapper" id="round-search"><div class="round"></div></div>
                <div class="round-wrapper" id="round-recharge"><div class="round"></div></div>
                <div class="round-wrapper" id="round-map"><div class="round"></div></div>
                <div class="round-wrapper round-wrapper-last" id="round-compass"><div class="round"></div></div>
            </div>
        </div>
    </div>
</div>
