.home-splash {    
    height: 100%;    
    cursor: pointer;
}

#home-sopra img {
    width: 60%;
    margin: 0 20%;
}

#home-sotto {
    margin-left: 4px;
}

.round-wrapper {
    float: left;
    margin-left: 4%;
	position: relative;
	padding-bottom: 20%;
	height: 0;
	width: 20%;
	background-size: 80%;
	background-repeat:no-repeat;
	background-position:center;
}

.round-wrapper-last {
    margin-right: 4%;
}

.round {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid black;
}

#round-search {
    background-image:url('../icons/search.svg.png');
}

#round-recharge {
    background-image:url('../icons/recharge.svg.png');
}

#round-map {
    background-image:url('../icons/map.svg.png');
}

#round-compass {
    background-image:url('../icons/compass.svg.png');
}

/*.home-demo-logo > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 308px;
    width: 234px;
    margin-left: -117px;
    margin-top: -154px;
}

@media screen 
and (max-height : 361px) 
and (orientation : landscape) {
    .home-demo-logo > img {
        width: 140px;
        height: 184px;
        margin-left: -70px;
        margin-top: -92px;
    }
}

.home-dx-logo
{
    position: absolute;
    bottom: 20px;
    height: 22px;
    width: 100%;
    background: url(../content/images/dx-logo.png) no-repeat center center;
}*/
